@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}
.clickable {
    cursor: pointer;
}
.clickable:hover {
 
    box-shadow: 0 0 15px #9ecaed;
}


.car-thumbnail-alt {
    height: 200px;
    max-width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain; 
}
.add-form{
    border: 1px solid black;
    padding :5px;
}

.add-form > .row {
    margin:
}